<html>

  <head>
    <style>
      .myDiv {
        font-family: "Arial";
        font-size: 12
      }
    </style>
  </head>

  <body>

    <div class="myDiv">
      <div>Hello <b>{{user_name}}</b>, this is an email to test the &quot;Send Emails in Python&quot; feature.<br></div>
      <div><br></div><a href="https://github.com/huyhqNinjavanVN/send-emails.git"><b><i>View source code</i></b></a><br><br>

      <div>--</div>
      <div><b>Ninja Van Viet Nam</b></div>
      <div>307/20 Nguyen Van Troi, Ward 1, Tan Binh District, HCMC</div>

      <!-- <div>--</div>
      <div><b>Huy Ho Quang (Mr.)</b></div>
      <div>Business Intelligence Analyst</div>
      <div>(+84) 327018885 | <a href="mailto:huy.hoquang@ninjavan.co" target="_blank">huy.hoquang@ninjavan.co</a></div>
      <div>307/20 Nguyen Van Troi, Ward 1, Tan Binh District, HCMC</div> -->
    </div>

  </body>

</html>